name: basic_sprites_animations
description: Example code for the the tutorial (Basic Sprite and Animations)

version: 1.0.0+1

publish_to: none

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flame:
    path: ../../../packages/flame
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  dart_code_metrics: ^2.4.0

flutter:
  assets:
    - assets/images/
