name: flame_test_example
resolution: workspace
description: Example of how to test with the flame_test package
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.6.0 <4.0.0"

dependencies:
  flame: ^1.28.1
  flutter:
    sdk: flutter

dev_dependencies:
  flame_lint: ^1.3.0
  flame_test: ^1.19.1
  flutter_test:
    sdk: flutter
  test: any

flutter:
  assets:
    - assets/images/
