name: flame_test_example
description: Example of how to test with the flame_test package
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  flame: ^1.2.0
  flutter:
    sdk: flutter

dev_dependencies:
  flame_lint: ^0.0.1
  flame_test: ^1.5.0
flutter:
  assets:
    - assets/images/
