name: flame_test_example
resolution: workspace
description: Example of how to test with the flame_test package
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.11.0 <4.0.0"

dependencies:
  flame: ^1.35.1
  flutter:
    sdk: flutter

dev_dependencies:
  flame_lint: ^1.4.2
  flame_test: ^2.2.2
  flutter_test:
    sdk: flutter
  test: any

flutter:
  assets:
    - assets/images/
