name: collision_detection
description: Flame sample for using the collision detection system

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.12.0-29.10.beta <3.0.0"
  flutter: ">=1.24.0-10.2.pre"

dependencies:
  flutter:
    sdk: flutter
  flame:
      path: ../../../

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  assets:
    - assets/images/android.png
