name: effects
description: A Flame game showcasing the use of the effects api
publish_to: none
version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flame:
    path: ../../../..
