name: text
description: A sample Flame project that renders texts.

version: 0.1.0

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flame:
    path: ../../../

dev_dependencies:
  flutter_test:
    sdk: flutter
