name: flame_fire_atlas
resolution: workspace
description: Easy to use texture atlases for the flame engine created with the
  fire atlas editor
version: 1.8.8
homepage: https://github.com/flame-engine/flame/tree/main/packages/flame_fire_atlas
funding:
  - https://opencollective.com/blue-fire
  - https://github.com/sponsors/bluefireteam
  - https://patreon.com/bluefireoss
topics:
  - flame
  - tools

environment:
  sdk: ">=3.6.0 <4.0.0"
  flutter: ">=3.27.1"

dependencies:
  archive: ^4.0.2
  flame: ^1.30.0
  flutter:
    sdk: flutter

dev_dependencies:
  dartdoc: ^8.0.8
  flame_lint: ^1.4.0
  flutter_test:
    sdk: flutter
  mocktail: ^1.0.4
