name: flame_fire_atlas
description: Easy to use texture atlases for the flame engine created with the
  fire atlas editor
version: 1.3.8
homepage: https://github.com/flame-engine/flame/tree/main/packages/flame_fire_atlas
funding:
  - https://opencollective.com/blue-fire
  - https://github.com/sponsors/bluefireteam
  - https://patreon.com/bluefireoss

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  archive: ^3.3.7
  flame: ^1.8.2
  flutter:
    sdk: flutter
  path: ^1.8.3

dev_dependencies:
  dartdoc: ^6.2.2
  flame_lint: ^1.1.0
  flutter_test:
    sdk: flutter
  mocktail: ^0.3.0
