name: flame_fire_atlas
description: Easy to use texture atlases for the flame engine created with the fire atlas editor
version: 1.3.2
homepage: https://github.com/flame-engine/flame/tree/main/packages/flame_fire_atlas
funding:
  - https://patreon.com/bluefireoss
  - https://www.buymeacoffee.com/bluefire

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=3.3.0"

dependencies:
  archive: ^3.1.5
  flame: ^1.5.0
  flutter:
    sdk: flutter

dev_dependencies:
  dartdoc: ^6.0.1
  flame_lint: ^0.1.3
  flutter_test:
    sdk: flutter
  mocktail: ^0.3.0
