name: flame_fire_atlas
description: Easy to use texture atlases for the flame engine created with the fire atlas editor
version: 1.0.2
homepage: https://github.com/flame-engine/flame/tree/main/packages/flame_fire_atlas

environment:
  sdk: ">=2.16.0 <3.0.0"
  flutter: ">=2.10.0"

dependencies:
  flutter:
    sdk: flutter
  flame: ^1.1.1
  archive: ^3.1.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flame_lint: ^0.0.1
  mocktail: ^0.1.2
  dartdoc: ^4.1.0
