name: flame_fire_atlas
description: Easy to use texture atlases for the flame engine created with the fire atlas editor
version: 1.1.0
homepage: https://github.com/flame-engine/flame/tree/main/packages/flame_fire_atlas

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ^3.0.0

dependencies:
  archive: ^3.1.5
  flame: ^1.2.0
  flutter:
    sdk: flutter

dev_dependencies:
  dartdoc: ^4.1.0
  flame_lint: ^0.0.1
  flutter_test:
    sdk: flutter
  mocktail: ^0.3.0
