name: flame_fire_atlas
description: Easy to use texture atlases for the flame engine created with the fire atlas editor
version: 1.0.0-rc2
homepage: https://github.com/flame-engine/fire-atlas/tree/master/flame_fire_atlas

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flame: ">=1.0.0-rc9"
  archive: ^3.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  dart_code_metrics: ^3.2.2
  mocktail: ^0.1.2
  dartdoc: ^0.42.0

flutter:
