name: flame_fire_atlas
description: Easy to use texture atlases for the flame engine created with the fire atlas editor
version: 1.0.0-rc2
homepage: https://github.com/flame-engine/flame/tree/main/packages/flame_fire_atlas
publish_to: 'none'

environment:
  sdk: ">=2.14.0 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  flame:
    path: ../flame
  archive: ^3.1.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flame_lint:
    path: ../flame_lint
  mocktail: ^0.1.2
  dartdoc: ^0.42.0

flutter:
