name: flame_flare_example
description: Flame sample for using Flare animations
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=3.3.0"

dependencies:
  flame: ^1.5.0
  flame_flare: ^1.5.1
  flare_flutter: ^3.0.2
  flutter:
    sdk: flutter

dev_dependencies:
  flame_lint: ^0.1.3
flutter:
  assets:
    - assets/Bob_Minion.flr
