.DS_Store
.atom/
.idea
*.iml
.packages
.dart_tool/
.pub/
pubspec.lock
packages/flame/doc/api/
.flutter-plugins
.vscode/
.venv/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/pubspec_overrides.yaml
**/__pycache__/

android/
ios/
desktop/
build/
_build/

coverage
**/failures

.fvm
Makefile
!doc/_sphinx/Makefile
.bak

# Web related
lib/generated_plugin_registrant.dart
