# Miscellaneous
*.class
*.bak
*.fvm
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.vscode/
.venv/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/failures
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
android/
ios/
macos/
windows/
linux/
desktop/
**/build/
coverage/
pubspec.lock
pubspec_overrides.yaml
.fvmrc

# Sphinx related
__pycache__/
_build/

# Custom
lib/generated_plugin_registrant.dart
examples/**/.gitignore

**/example/android
**/example/ios
**/example/linux
**/example/macos
**/example/windows
**/example/web

.metadata
