.DS_Store
.atom/
.idea
*.iml
.packages
.dart_tool/
.pub/
pubspec.lock
packages/flame/doc/api/
.flutter-plugins
.vscode/
**/.flutter-plugins
**/.flutter-plugins-dependencies

android/
ios/
desktop/
build/
_build/

coverage

.fvm
