os:
  - linux
sudo: false
addons:
  apt:
    # Flutter depends on /usr/lib/x86_64-linux-gnu/libstdc++.so.6 version GLIBCXX_3.4.18
    sources:
      - ubuntu-toolchain-r-test # if we don't specify this, the libstdc++6 we get is the wrong version
    packages:
      - libstdc++6
      - fonts-droid
before_script:
  - git clone https://github.com/flutter/flutter.git -b beta --depth 1
  - mv flutter $HOME/flutter
  - export PATH=$HOME/flutter/bin:$PATH
  - flutter doctor
script:
  - set -e
  # - ./format.sh
  - set +e
  - flutter test
cache:
  directories:
    - $HOME/.pub-cache