name: flame
description: A minimalist Flutter game engine, provides a nice set of somewhat independent modules you can choose from.
version: 0.10.3
author: Luan Nico <luannico27@gmail.com>
homepage: https://github.com/luanpotter/flame

flutter:
  uses-material-design: false

dependencies:
  flutter:
    sdk: flutter
  audioplayers: ^0.7.7
  ordered_set: ^1.1.2
  path_provider: ^0.4.1
  box2d_flame: ^0.4.2
  synchronized: ^1.5.1+1
  tiled: ^0.2.1
  convert: ^2.0.1
  flutter_svg: 0.12.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  test: ^1.5.1+1

environment:
  sdk: ">=2.2.0 <3.0.0"
  flutter: ">=1.2.0 <2.0.0"
