name: flame
description: A minimalist Flutter game engine, provides a nice set of somewhat independent modules you can choose from.
version: 0.22.0
homepage: https://github.com/flame-engine/flame

dependencies:
  flutter:
    sdk: flutter
  audioplayers: ^0.15.1
  ordered_set: ^2.0.0
  path_provider: ^1.6.0
  box2d_flame: ^0.4.5
  synchronized: ^2.1.0
  tiled: ^0.2.1
  convert: ^2.0.1
  flutter_svg: ^0.17.4
  flare_flutter: ^2.0.1
  meta: ^1.1.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  test: ^1.9.4

environment:
  sdk: ">=2.3.0 <3.0.0"
  flutter: ">=1.6.0"

flutter:
  uses-material-design: false
