name: flame
description: A minimalist Flutter game engine
version: 0.1.0
author: Luan Nico <luannico27@gmail.com>
homepage: https://github.com/luanpotter/flame

flutter:

dependencies:
  flutter:
    sdk: flutter
  audioplayers: ^0.1.0
  path_provider: ^0.2.1+1

environment:
  sdk: ">=1.8.0 <2.0.0"
