name: flame
description: A minimalist Flutter game engine, provides a nice set of somewhat independent modules you can choose from.
version: 1.0.0-rc5
homepage: https://github.com/flame-engine/flame

dependencies:
  flutter:
    sdk: flutter
  ordered_set: ^2.0.0
  meta: ^1.1.8
  vector_math: '>=2.0.0 <3.0.0'

dev_dependencies:
  flutter_test:
    sdk: flutter
  test: ^1.9.4

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.6.0"

flutter:
  uses-material-design: false
