name: flame
description: A minimalist Flutter game engine, provides a nice set of somewhat independent modules you can choose from.
version: 0.29.3
homepage: https://github.com/flame-engine/flame

dependencies:
  flutter:
    sdk: flutter
  audioplayers: ^0.17.4
  ordered_set: ^2.0.1
  box2d_flame: ^0.4.6
  synchronized: ^2.1.0
  convert: ^2.0.1
  flare_flutter: ^2.0.1
  meta: ^1.1.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  test: ^1.9.4

environment:
  sdk: ">=2.3.0 <3.0.0"
  flutter: ">=1.6.0"

flutter:
  uses-material-design: false
