name: box2d
description: Flame sample game showcasing the structure for box2d games

version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flame:
    path: ../../../../

dev_dependencies:
  flutter_test:
    sdk: flutter
