name: flame_console_example
description: "Example of using the flame console package"

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.4.0 <4.0.0"

dependencies:
  flame: ^1.22.0
  flame_console: ^0.1.1
  flutter:
    sdk: flutter

dev_dependencies:
  flame_lint: ^1.2.1
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
