name: flame_console_example
resolution: workspace
description: "Example of using the flame console package"

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.11.0 <4.0.0"

dependencies:
  flame: ^1.35.1
  flame_console: ^0.1.2+16
  flutter:
    sdk: flutter

dev_dependencies:
  flame_lint: ^1.4.2
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
