name: flame_flare
description: This packages allows you to use flare animations into a Flame game.
version: 1.5.1
homepage: https://github.com/flame-engine/flame/tree/main/packages/flame_flare
funding:
  - https://patreon.com/bluefireoss
  - https://www.buymeacoffee.com/bluefire

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=3.3.0"

dependencies:
  flame: ^1.5.0
  flare_flutter: ^3.0.2
  flutter:
    sdk: flutter

dev_dependencies:
  dartdoc: ^6.0.1
  flame_lint: ^0.1.3