name: flame_flare
description: This packages allows you to use flare animations into a Flame game.
version: 1.0.0-releasecandidate.14
publish_to: 'none'
homepage: https://github.com/flame-engine/flame/tree/main/packages/flame_flare

environment:
  sdk: ">=2.14.0 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flame:
    path: ../flame
  flare_flutter: ^3.0.2
  flutter:
    sdk: flutter

dev_dependencies:
  dartdoc: ^0.42.0
  flutter_test:
    sdk: flutter
  test: ^1.9.4
  flame_lint:
    path: ../flame_lint
