name: flame_flare
description: This packages allows you to use flare animations into a Flame game.
version: 1.4.0
homepage: https://github.com/flame-engine/flame/tree/main/packages/flame_flare

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=3.0.0"

dependencies:
  flame: ^1.3.0
  flare_flutter: ^3.0.2
  flutter:
    sdk: flutter

dev_dependencies:
  dartdoc: ^4.1.0
  flame_lint: ^0.1.2