name: example
description: Example app of how to use the flame_svg package

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.14.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flame:
    path: ../../flame
  flame_svg:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flame_lint:
    path: ../../flame_lint

flutter:
  uses-material-design: true
  assets:
    - assets/android.svg
