name: flame_svg_example
description: Example app of how to use the flame_svg package

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.18.0 <3.0.0"

dependencies:
  flame: ^1.6.0
  flame_svg: ^1.7.1
  flutter:
    sdk: flutter

dev_dependencies:
  flame_lint: ^0.2.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/android.svg
