name: flame_svg_example
resolution: workspace
description: Example app of how to use the flame_svg package

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.6.0 <4.0.0"

dependencies:
  flame: ^1.28.1
  flame_svg: ^1.11.11
  flutter:
    sdk: flutter

dev_dependencies:
  flame_lint: ^1.3.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/android.svg
