name: flame_svg_example
description: Example app of how to use the flame_svg package

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flame: ^1.14.0
  flame_svg: ^1.8.9
  flutter:
    sdk: flutter

dev_dependencies:
  flame_lint: ^1.1.2
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/android.svg
