name: flame_forge2d_example
description: Flame Forge2D (box2d) samples

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=3.3.0"

dependencies:
  dashbook: ^0.1.6
  flame_forge2d: ^0.11.0
  flutter:
    sdk: flutter

dev_dependencies:
  flame_lint: ^0.1.3
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
