name: flame_forge2d_example
description: Flame Forge2D (box2d) samples

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.18.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  dashbook: ^0.1.12
  flame: ^1.7.4
  flame_forge2d: ^0.14.0
  flutter:
    sdk: flutter

dev_dependencies:
  flame_lint: ^0.2.0+3
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
