name: flame_example
resolution: workspace
description: Simple example of a Flame game
version: 0.1.0
publish_to: 'none'

environment:
  sdk: ">=3.6.0 <4.0.0"
  flutter: ">=3.27.1"

dependencies:
  flame: ^1.30.0
  flutter:
    sdk: flutter

dev_dependencies:
  flame_lint: ^1.4.0
  flutter_test:
    sdk: flutter
