name: flame_example
description: Simple example of a Flame game
version: 0.1.0
publish_to: 'none'

environment:
  sdk: ">=2.18.0 <3.0.0"
  flutter: ">=3.3.0"

dependencies:
  flame: ^1.7.0
  flutter:
    sdk: flutter

dev_dependencies:
  flame_lint: ^0.2.0+1
  flutter_test:
    sdk: flutter
