name: flame_example
description: Simple example of a Flame game
version: 0.1.0
publish_to: 'none'

environment:
  sdk: ">=2.16.0 <3.0.0"
  flutter: ">=2.10.0"

dependencies:
  flame: ^1.2.0
  flutter:
    sdk: flutter

dev_dependencies:
  flame_lint: ^0.0.1
  flutter_test:
    sdk: flutter
