name: gestures
description: A flame game showcasing the use of gestures callbacks

version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flame:
      path: ../../../

flutter:
  uses-material-design: false
