name: flame_tiled
description: Tiled support for the Flame game engine. This uses the tiled package and provides wrappers and components to be used inside Flame.
version: 1.9.0
homepage: https://github.com/flame-engine/flame/tree/main/packages/flame_tiled
funding:
  - https://patreon.com/bluefireoss
  - https://www.buymeacoffee.com/bluefire

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=3.3.0"

dependencies:
  collection: ^1.15.0
  flame: ^1.5.0
  flutter:
    sdk: flutter
  meta: ^1.7.0
  tiled: ">=0.10.0 <0.11.0"
  xml: ^6.1.0

dev_dependencies:
  dartdoc: ^6.0.1
  flame_lint: ^0.1.3
  flutter_test:
    sdk: flutter
  test: any
