name: flame_test
description: A package with classes to help testing applications using Flame
version: 1.9.1
homepage: https://github.com/flame-engine/flame/tree/main/packages/flame_test
funding:
  - https://patreon.com/bluefireoss
  - https://www.buymeacoffee.com/bluefire

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=3.3.0"

dependencies:
  flame: ^1.5.0
  flutter:
    sdk: flutter
  flutter_test:
    sdk: flutter
  meta: ^1.7.0
  test: any
  vector_math: ^2.1.1

dev_dependencies:
  dartdoc: ^6.0.1
  flame_lint: ^0.1.3
