name: flame_test
description: A package with classes to help testing applications using Flame
version: 1.13.0
homepage: https://github.com/flame-engine/flame/tree/main/packages/flame_test
funding:
  - https://opencollective.com/blue-fire
  - https://github.com/sponsors/bluefireteam
  - https://patreon.com/bluefireoss

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flame: ^1.9.0
  flutter:
    sdk: flutter
  flutter_test:
    sdk: flutter
  meta: ^1.9.1
  test: ^1.24.1
  vector_math: ^2.1.4

dev_dependencies:
  dartdoc: ^6.2.2
  flame_lint: ^1.1.1