name: flame_rive_example
resolution: workspace
description: A testbed for flame_rive
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.6.0 <4.0.0"

dependencies:
  flame: ^1.30.1
  flame_rive: ^1.10.17
  flutter:
    sdk: flutter
  rive: ^0.13.20

dev_dependencies:
  flame_lint: ^1.4.1
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/
