name: trex_game
description: A clone of the classic browser T-Rex game.
homepage: https://github.com/flame-engine/flame/tree/main/examples/games/trex/
publish_to: 'none'

version: 0.1.0

environment:
  sdk: ">=2.16.0 <3.0.0"
  flutter: ">=2.10.0"

dependencies:
  flame: ^1.1.1
  google_fonts: 2.2.0
  flutter:
    sdk: flutter

dev_dependencies:
  flame_lint: ^0.0.1

flutter:
  uses-material-design: true

  assets:
    - assets/images/
