name: examples
resolution: workspace
description: A set of small examples showcasing each feature provided by the Flame Engine.
homepage: https://github.com/flame-engine/flame/tree/main/examples
publish_to: "none"

version: 0.1.0

environment:
  sdk: ">=3.6.0 <4.0.0"
  flutter: ">=3.27.1"

dependencies:
  crystal_ball: ^0.1.0
  dashbook: ^0.1.16
  flame: ^1.28.1
  flame_audio: ^2.11.5
  flame_forge2d: ^0.19.0+1
  flame_isolate: ^0.6.2+11
  flame_lottie: ^0.4.2+11
  flame_noise: ^0.3.2+11
  flame_spine: ^0.2.2+11
  flame_svg: ^1.11.11
  flame_tiled: ^3.0.2
  flutter:
    sdk: flutter
  google_fonts: ^6.2.1
  jenny: ^1.3.3
  meta: ^1.12.0
  padracing: ^1.0.0
  provider: ^6.1.2
  rogue_shooter: ^0.1.0
  trex_game: ^0.1.0
  web: ^1.1.0

dev_dependencies:
  flame_lint: ^1.3.0
  test: any

flutter:
  uses-material-design: true

  assets:
    - assets/images/animations/
    - assets/images/
    - assets/images/tile_maps/
    - assets/images/layers/
    - assets/images/parallax/
    - assets/images/parallax/
    - assets/images/rogue_shooter/
    - assets/spine/
    - assets/svgs/
    - assets/tiles/
    - assets/audio/music/
    - assets/audio/sfx/
    - assets/yarn/
    
