name: examples
description: A set of small examples showcasing each feature provided by the Flame Engine.
homepage: https://github.com/flame-engine/flame/tree/main/examples
publish_to: 'none'

version: 0.1.0

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ^3.0.0

dependencies:
  dashbook: 0.1.6
  flame: ^1.2.0
  flame_forge2d: ^0.11.0
  flame_svg: ^1.3.0
  flutter:
    sdk: flutter
  google_fonts: ^2.3.2
  padracing:
    path: games/padracing
  trex_game:
    path: games/trex

dev_dependencies:
  flame_lint: ^0.0.1

flutter:
  uses-material-design: true

  assets:
    - assets/images/animations/
    - assets/images/
    - assets/images/tile_maps/
    - assets/images/layers/
    - assets/images/parallax/
    - assets/svgs/
