name: examples
resolution: workspace
description: A set of small examples showcasing each feature provided by the Flame Engine.
homepage: https://github.com/flame-engine/flame/tree/main/examples
publish_to: "none"

version: 0.1.0

environment:
  sdk: ">=3.6.0 <4.0.0"
  flutter: ">=3.27.1"

dependencies:
  dashbook: ^0.1.16
  flame: ^1.24.0
  flame_audio: ^2.10.8
  flame_forge2d: ^0.18.2+5
  flame_isolate: ^0.6.2+5
  flame_lottie: ^0.4.2+5
  flame_noise: ^0.3.2+5
  flame_spine: ^0.2.2+5
  flame_svg: ^1.11.5
  flame_tiled: ^2.0.0
  flutter:
    sdk: flutter
  google_fonts: ^4.0.4
  jenny: ^1.3.2
  meta: ^1.12.0
  padracing: ^1.0.0
  provider: ^6.0.5
  rogue_shooter: ^0.1.0
  trex_game: ^0.1.0

dev_dependencies:
  flame_lint: ^1.2.1
  test: any

flutter:
  uses-material-design: true

  assets:
    - assets/images/animations/
    - assets/images/
    - assets/images/tile_maps/
    - assets/images/layers/
    - assets/images/parallax/
    - assets/images/parallax/
    - assets/images/rogue_shooter/
    - assets/spine/
    - assets/svgs/
    - assets/tiles/
    - assets/audio/music/
    - assets/audio/sfx/
    - assets/yarn/
