name: examples
description: A set of small examples showcasing each feature provided by the Flame Engine.
homepage: https://github.com/flame-engine/flame/tree/main/examples
publish_to: 'none'

version: 0.1.0

environment:
  sdk: ">=2.14.0 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flame: ^1.0.0
  flame_svg: ^1.0.0
  dashbook: 0.1.5
  flutter:
    sdk: flutter

dev_dependencies:
  flame_lint: ^0.0.1

flutter:
  uses-material-design: true

  assets:
    - assets/images/animations/
    - assets/images/
    - assets/images/tile_maps/
    - assets/images/layers/
    - assets/images/parallax/
    - assets/svgs/
