name: examples
description: A set of small examples showcasing each feature provided by the Flame Engine.
homepage: https://github.com/flame-engine/flame/tree/main/examples
publish_to: "none"

version: 0.1.0

environment:
  sdk: ">=2.18.0 <3.0.0"
  flutter: ">=3.3.0"

dependencies:
  dashbook: 0.1.8
  flame: ^1.6.0
  flame_audio: ^1.4.0
  flame_forge2d: ^0.12.2
  flame_isolate: ^0.2.0
  flame_lottie: ^0.2.0
  flame_noise: ^0.1.0
  flame_svg: ^1.7.1
  flame_tiled: ^1.9.1
  flutter:
    sdk: flutter
  google_fonts: ^2.3.2
  meta: ^1.8.0
  padracing: ^1.0.0
  provider: ^6.0.3
  rogue_shooter: ^0.1.0
  trex_game: ^0.1.0

dev_dependencies:
  flame_lint: ^0.2.0
flutter:
  uses-material-design: true

  assets:
    - assets/images/animations/
    - assets/images/
    - assets/images/tile_maps/
    - assets/images/layers/
    - assets/images/parallax/
    - assets/images/parallax/
    - assets/images/rogue_shooter/
    - assets/svgs/
    - assets/tiles/
    - assets/audio/music/
    - assets/audio/sfx/
