name: flame_behaviors
resolution: workspace
description: Flame Behaviors applies separation of concerns to game logic in the form of Entities and Behaviors, originally built by Very Good Ventures.
version: 1.3.3
homepage: https://github.com/flame-engine/flame/tree/main/packages/flame_behaviors

environment:
  sdk: ">=3.8.0 <4.0.0"
  flutter: ">=3.32.0"

dependencies:
  flame: ^1.35.1
  flutter:
    sdk: flutter

dev_dependencies:
  flame_lint: ^1.4.2
  flame_test: ^2.2.2
  flutter_test:
    sdk: flutter
  mocktail: ^1.0.4