linkify-it-py==2.0.0
myst-parser==1.0.0
Pygments==2.15.0
Sphinx==6.1.3
sphinxcontrib-mermaid==0.8.1
sphinxcontrib-jquery==4.0
sphinx-autobuild==2021.3.14
sphinx-copybutton==0.5.1
Jinja2==3.1.2
psutil==5.9.4
