name: flame_oxygen
description: Integrate the Oxygen ECS with the Flame Engine.
version: 0.1.0-releasecandidate.13
homepage: https://github.com/flame-engine/flame/tree/main/packages/flame_oxygen
publish_to: 'none'
environment:
  sdk: ">=2.14.0 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  flame:
    path: ../flame
  oxygen: ^0.2.0

dev_dependencies:
  dartdoc: ^0.42.0
  flutter_test:
    sdk: flutter
  test: ^1.9.4
  flame_lint:
    path: ../flame_lint

