name: doc_flame_examples
description: Documentation examples
version: 1.0.0
publish_to: none

environment:
  sdk: ">=2.18.0 <3.0.0"
  flutter: ">=3.3.0"

dependencies:
  flame: ^1.7.3
  flame_rive: ^1.7.1
  flutter:
    sdk: flutter

dev_dependencies:
  flame_lint: ^0.2.0+2

flutter:
  assets:
    - assets/
    - assets/images/