name: flame_audio
description: Audio support for the Flame game engine. This containst all audio related code will live in the future, using the audioplayers package.
version: 1.0.0-rc.15
homepage: https://github.com/flame-engine/flame/tree/main/packages/flame_audio
publish_to: 'none'

environment:
  sdk: ">=2.14.0 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flame:
    path: ../flame
  audioplayers: ^0.20.1
  synchronized: ^3.0.0
  flutter:
    sdk: flutter

dev_dependencies:
  dartdoc: ^0.42.0
  flutter_test:
    sdk: flutter
  test: ^1.9.4
  flame_lint:
    path: ../flame_lint
