
.dartdoc .signature.sig1 {
  background: black;
  background: linear-gradient(0deg, #000 0%, #000000bb 65%, #00000088 100%);
  font-family: var(--font-mono);
  margin: 8pt -30pt;
  padding: 12pt 30pt;
}

.dartdoc .signature.sig2 {
  border-radius: 6pt;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 50%);
  font-family: var(--font-mono);
  margin-bottom: 6pt;
  padding: 6pt 6pt 6pt 30pt;
  text-indent: -21pt;
}

.dartdoc .signature .keyword { opacity: 0.5; }
.dartdoc .signature .name { color: white; }
.dartdoc .sig1 .name { font-weight: bold; }
.dartdoc .signature .argument { white-space: pre; }
.dartdoc .signature .argument .name { color: #999; }
.dartdoc .signature .punct { color: #ffd68d; }
.dartdoc .signature .types { margin-left: 2pt; }
.dartdoc .signature .modifier { margin-left: 40pt; }
.dartdoc .doc2 { margin-left: 30pt; }

.dartdoc .constructor { margin-bottom: 12pt; }
.dartdoc .constructor .signature { background: rgb(59 116 30 / 25%); }
.dartdoc .method .signature { background: rgb(69 102 167 / 25%); }
.dartdoc .field .signature,
.dartdoc .getter .signature,
.dartdoc .setter .signature { background: rgb(63 92 86 / 25%); }

.dartdoc span.param {
  background: #111;
  border: 1px solid rgb(170 204 221 / 50%);
  border-radius: 3pt;
  color: #a6c3de;
  font-family: var(--font-mono);
  font-size: 85%;
  padding: 1pt 3pt;
  white-space: nowrap;
}
