
button.flutter-app-button {
  background: #e2a73c;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 6px 0 black;
  color: black;
  cursor: pointer;
  font-family: var(--font-sans);
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1em;
  margin: 0 1em 1em 0;
  min-height: 26pt;
  min-width: 120pt;
}

button.flutter-app-button:hover {
  background: #f3dc38;
}

button.flutter-app-button:active {
  background: white;
  left: 1px;
  position: relative;
  top: 1px;
}

button.flutter-app-button:after {
  content: '\f0da';
  font-family: var(--font-awesome);
  margin-left: 4px;
  position: relative;
  top: 1px;
}

.flutter-app-code {
  display: none;
}

.flutter-app-code.active {
  background: #282828;
  box-shadow: 0 0 30px 0 #000;
  box-sizing: border-box;
  display: initial;
  height: 80vh;
  left: 50%;
  overflow-y: scroll;
  padding: 1em 2em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
}

.flutter-app-code .filename {
  font-family: var(--font-mono);
  font-size: 1.3em;
  font-weight: bold;
  margin: 1.5em 0 -0.5em 0;
}

.flutter-app-code div.highlight span.linenos {
  color: #444;
  margin-right: 8pt;
}

#flutter-app-overlay {
  background: repeating-linear-gradient(
    -45deg,
    #000000bb 0px,
    #000000bb 5px,
    #000000aa 5px,
    #000000aa 10px
  );
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10000;
}

#flutter-app-overlay.active {
  display: initial;
}

#flutter-app-overlay.active iframe {
  border: 1px solid #333;
  box-shadow: 0px 0px 30px 0px #000;
  display: none;
  height: 80vh;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
}

#flutter-app-overlay.active iframe.active {
  display: initial;
}

#flutter-app-close-button {
  background: white;
  border: 1px solid black;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  font-size: 20px;
  height: 30px;
  left: 90%;
  margin-left: -15px;
  margin-top: -15px;
  position: absolute;
  text-align: center;
  top: 10%;
  width: 30px;
  z-index: 1;
}

#flutter-app-close-button:hover {
  background: #e38f13;
  color: white;
}

.flutter-app-iframe {
  border: 1px solid #555;
  height: 350px;
  width: 100%;
}
