.package {
  display: flex;
  margin-bottom: 12pt;
}
.package > p:first-child {
  margin: 0 12pt 0 0;
}
.package > p:first-child > a {
  background: #9b6814;
  border-left: 4px solid #ffc43c;
  box-shadow: 2px 2px 4px black;
  color: #ffffff;
  display: block;
  font-family: var(--font-mono);
  min-width: 110pt;
  padding: 8pt 10pt;
}
.package > p:first-child > a:hover {
  background: #d48f1d;
  text-shadow: 1px 1px 1px black;
}
.package > div.container > p {
  margin-bottom: 6pt;
}
.package > div.container > p:last-child {
  margin-bottom: 0;
}
