name: flame_rive
resolution: workspace
description: Rive support for the Flame game engine. This uses the rive package and provides wrappers and components to be used inside Flame.
homepage: https://github.com/flame-engine/flame
version: 1.10.14
funding:
  - https://opencollective.com/blue-fire
  - https://github.com/sponsors/bluefireteam
  - https://patreon.com/bluefireoss
topics:
  - flame
  - rive
  - animations

environment:
  sdk: ">=3.6.0 <4.0.0"
  flutter: ">=3.27.1"

dependencies:
  flame: ^1.28.1
  flutter:
    sdk: flutter
  rive: ^0.13.20

dev_dependencies:
  dartdoc: ^8.0.8
  flame_lint: ^1.3.0
  flame_test: ^1.19.1
  flutter_test:
    sdk: flutter
