name: flame_rive
description: Rive support for the Flame game engine. This uses the rive package and provides wrappers and components to be used inside Flame.
homepage: https://github.com/flame-engine/flame
version: 1.5.1

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=3.0.0"

dependencies:
  flame: ^1.3.0
  flutter:
    sdk: flutter
  rive: ^0.9.0

dev_dependencies:
  dartdoc: ^4.1.0
  flame_lint: ^0.1.2
  flutter_test:
    sdk: flutter
