name: flame_rive
description: Rive support for the Flame game engine. This uses the rive package and provides wrappers and components to be used inside Flame.
homepage: https://github.com/flame-engine/flame
version: 1.2.0

environment:
  sdk: ">=2.16.0 <3.0.0"
  flutter: ">=2.10.0"

dependencies:
  flame: ^1.1.1
  rive: ^0.8.4
  flutter:
    sdk: flutter

dev_dependencies:
  dartdoc: ^4.1.0
  flutter_test:
    sdk: flutter
  flame_lint: ^0.0.1
