name: flame_fire_atlas_example
description: Example app to showcase flame fire atlas package

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.18.0 <3.0.0"

dependencies:
  flame: ^1.7.3
  flame_fire_atlas: ^1.3.5
  flutter:
    sdk: flutter

dev_dependencies:
  flame_lint: ^0.2.0+2
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/cave_ace.fa
