name: flame_fire_atlas_example
description: Example app to showcase flame fire atlas package

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.4.0 <4.0.0"

dependencies:
  flame: ^1.17.0
  flame_fire_atlas: ^1.5.1
  flutter:
    sdk: flutter

dev_dependencies:
  flame_lint: ^1.1.2
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/cave_ace.fa
