name: tutorials_space_shooter
description: Flame Space Shooter Tutorial

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  dashbook: ^0.1.5
  flame: ^1.2.0
  flutter:
    sdk: flutter
  flutter_highlight: ^0.7.0
  flutter_markdown: ^0.6.7

dev_dependencies:
  flame_lint: ^0.0.1
  flutter_lints: ^1.0.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/images/
