name: flame_lint
description: Flame lint package
version: 1.1.1
homepage: https://github.com/flame-engine/flame/tree/main/packages/flame_lint
funding:
  - https://opencollective.com/blue-fire
  - https://github.com/sponsors/bluefireteam
  - https://patreon.com/bluefireoss

environment:
  sdk: ">=3.0.0 <4.0.0"

dev_dependencies:
  dartdoc: ^6.3.0
