name: klondike
description: Klondike tutorial
version: 1.0.0
publish_to: none

environment:
  sdk: ^2.17.0

dependencies:
  flame: ^1.2.0
  flutter:
    sdk: flutter

dev_dependencies:
  flame_lint: ^0.0.1

flutter:
  assets:
    - assets/images/
