name: flame_spine_example
description: An example of using a flame_spine component
publish_to: 'none' # Remove this line if you wish to publish to pub.dev
version: 1.0.0

environment:
  sdk: ">=2.18.0 <3.0.0"

dependencies:
  flame: ^1.7.3
  flame_spine: ^0.1.0
  flutter:
    sdk: flutter

dev_dependencies:
  flame_lint: ^0.2.0+2
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/
