name: flame_spine_example
resolution: workspace
description: An example of using a flame_spine component
publish_to: 'none' # Remove this line if you wish to publish to pub.dev
version: 1.0.0

environment:
  sdk: ">=3.6.0 <4.0.0"

dependencies:
  flame: ^1.29.0
  flame_spine: ^0.2.2+12
  flutter:
    sdk: flutter

dev_dependencies:
  flame_lint: ^1.4.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/
