:root {
    --pst-color-inline-code: 255, 140, 50;
    --pst-color-link: 100, 150, 200;
    --pst-color-preformatted-background: 50, 50, 50;
    --pst-color-primary: 240, 240, 240;
    --pst-color-sidebar-caption: 250, 250, 255;
    --pst-color-sidebar-link: 150, 160, 170;
    --pst-color-sidebar-link-active: 80, 190, 255;
    --pst-color-text-base: 211, 211, 211;
    --pst-color-toc-link: 130, 130, 130;
}

body {
    background-color: #3a3a3a;
}

#site-navigation {
    background-color: #202225;
}
#site-navigation::-webkit-scrollbar {
    width: 4px;
}
#site-navigation::-webkit-scrollbar-track {
    background: #202225;
}
#site-navigation::-webkit-scrollbar-thumb,
#site-navigation::-webkit-scrollbar-thumb:vertical {
    background: #000;
}


.topbar .topbar-main button.topbarbtn {
    background-color: #636363;
    color: #2f2f2f;
}

#navbar-toggler {
    color: #777;
}

.navbar_extra_footer {
    display: none;
}

div.navbar-brand-box {
    padding: .5em 0 1em 0;
}

div.navbar-brand-box a.navbar-brand {
    display: flex;
    align-items: center;
}

div.navbar-brand-box a.navbar-brand img {
    max-width: 100%;
    margin: 0;
}

pre {
    border: none;
    box-shadow: 0px 0px 3px black;
    color: #888;
    position: relative;
}

code {
    background-color: #222;
    border-radius: 3pt;
    padding: 2pt 3pt;
}

div[class^="highlight-"] pre:before {
    background: black;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #58d0ff;
    font-size: 80%;
    padding: 1px 8px;
    position: absolute;
    right: 0;
    top: 0;
}

div.highlight-dart pre:before {
    content: "dart";
}
div.highlight-yaml pre:before {
    content: "yaml";
    color: #5f5;
}
div.highlight-text pre:before {
    content: "text";
    color: #666;
}

/* Cancel some of the existing styles */
#site-navigation nav ul.nav li a, #site-navigation nav ul.nav ul li a {
    color: rgba(var(--pst-color-sidebar-link), 1);
}
#site-navigation nav ul.nav a:hover, #site-navigation nav ul.nav li.active>a, #site-navigation nav ul.nav li.active>a:hover {
    color: rgba(var(--pst-color-sidebar-link-active), 1);
}
.bd-toc div.onthispage, .bd-toc .toc-entry a {
    color: rgba(var(--pst-color-toc-link), 1);
}
.bd-toc nav {
    background: inherit;
}
.bd-toc nav > .nav {
    border-color: #111;
}
nav.bd-links p.caption {
    margin-bottom: 0.2em;
}
main.bd-content #main-content h1 {
    color: rgba(var(--pst-color-h1), 1);
}
main.bd-content #main-content h2 {
    color: rgba(var(--pst-color-h2), 1);
}
main.bd-content #main-content h3 {
    color: rgba(var(--pst-color-h3), 1);
}
main.bd-content #main-content h4 {
    color: rgba(var(--pst-color-h4), 1);
}
main.bd-content #main-content h5 {
    color: rgba(var(--pst-color-h5), 1);
}
#site-navigation h1.site-logo {
    color: rgba(var(--pst-color-h1), 1);
}
.form-control {
    background-color: transparent;
}
.topbar {
    background-color: #3a3a3a;
}
.tocsection {
    border-color: black;
}
main.bd-content #main-content .prev-next-bottom .right-next .prevnext-label, main.bd-content #main-content .prev-next-bottom .left-prev .prevnext-label {
    color: #808080;
}

.bd-sidebar .nav li>a {
    padding: .1rem 1.5rem;
}
