name: flame_svg
description: Package to add SVG rendering support for the Flame game engine
version: 1.7.0
homepage: https://github.com/flame-engine/flame/tree/main/packages/flame_svg
funding:
  - https://patreon.com/bluefireoss
  - https://www.buymeacoffee.com/bluefire

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=3.3.0"

dependencies:
  flame: ^1.5.0
  flutter:
    sdk: flutter
  flutter_svg: ^1.0.3

dev_dependencies:
  dartdoc: ^6.0.1
  flame_lint: ^0.1.3
  flutter_test:
    sdk: flutter
  mocktail: ^0.3.0
  test: any
