name: cicd

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, reopened, synchronize]

.flutter_selector: &flutter_selector
  - uses: actions/checkout@v1
  - uses: cedx/setup-dart@v2
  - uses: actions/setup-java@v1
    with:
      java-version: '12.x'
  - uses: subosito/flutter-action@v1
    with:
      channel: 'beta'

jobs:
  # BEGIN LINTING STAGE
  dartdoc: 
    runs-on: ubuntu-latest
    steps:
      <<: *flutter_selector
      - run: flutter pub get
      - run: dartdoc --no-auto-include-dependencies --quiet
      
  format: 
    runs-on: ubuntu-latest
    steps:
      <<: *flutter_selector
      - run: ./scripts/format.sh

  analyze: 
    runs-on: ubuntu-latest
    steps:
      <<: *flutter_selector
      - run: ./scripts/analyze.sh
  # END LINTING STAGE

  # BEGIN TESTING STAGE
  test:
    needs: [dartdoc, format, analyze]
    runs-on: ubuntu-latest
    steps:
      <<: *flutter_selector
      - run: flutter pub get
      - run: flutter test
  # END TESTING STAGE
